<div class="jumbotron bg-dark text-center">
    <h1>ISS Overhead Tracker</h1>
</div>
<div id = "results">

</div>
<div class="nav-buttons text-center">
    <form id="locationForm">
        <label for="fname">Latitude</label>
        <input type="text" id="lat" name="fname"><br><br>
        <label for="lname">Longitude</label>
        <input type="text" id="long" name="lname"><br><br>
        <button id="locationButton" class="btn btn-secondary">
            Use current location
        </button>
        <input id="submitBtn" class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
